.team-row{
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.profile-card{
    background-image: url(images/back-map.png);
    /* background-image: linear-gradient( to bottom, rgba(69, 7, 54, 0.597), rgba(0,0,0, 100)),url(images/team-background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    width: 250px;
    height: 300px;
    margin: 35px;
    padding:10px;
    border-radius: 20px;
}

/* .card-front, .card-back{
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url(images/back-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    backface-visibility: hidden;
} */
.profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 90px;
   
}

.profile-img{
    text-align: center;
}

.desc{
    text-align: center;
    color: #7C0079;
}
.desc h3{
    color: #7C0079;
    font-size: 20px;
    margin: 0;
    font-weight: 900;
}
.team-name {
text-align: center;
margin: 0 auto;
background-color: #7C0079;
width: 60%;
padding:5px;
color:#fff;
font-weight: bolder;
align-items: center;
}



@media(max-width: 768px){
    .row{
        width: 100%;
    }
}

@media(max-width: 468px){
    .profile-card{
        width: 290px;
        font-size: 20px;
    }
}